.eso-widgets-build {
  max-width: 405px;
  width: 100%;
  margin: 0 auto
}
.eso-widgets-bar {
  display: flex;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0
}
.eso-widgets-bar li {
  border: 1px solid transparent;
  flex: 0 0 16%;
  list-style: none !important;
  margin: 0!important;
  padding: 0!important;
}
.eso-widgets-bar li.eso-widgets-ultimate {
  flex: 0 0 auto;
  margin-left: auto!important;
}
.eso-widgets-bar img {
  border: 2px solid #585230;
  background-color: #777;
  width: 100%;
  height: auto;
  max-width: 48px;
  margin: 0!important;
  padding: 0!important;
}
.eso-widgets-bar a {
  display: block;
  position: relative;
  max-width: 52px;
}
.eso-widgets-bar a, .eso-widgets-bar a:hover {
  text-decoration: none;
}
.eso-widgets-bar a span {
  color: #fff;
  font-size: 10px;
  position: absolute;
  right: 7px;
  bottom: 0;
}
.eso-widgets-details {
  display: flex;
}
.eso-widgets-attr {
  display: flex !important;
  justify-content: space-between;
  color: #fff;
  font-size: 85%;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
.eso-widgets-attr > div {
  flex: 0 0 30%;
  border: 2px solid #837C67;
  border-radius: 10px;
}
/* obsolete, hide after update */
.eso-widgets-armor, .eso-widgets-attributes {
  display: none;
}
